# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Conda
.env
.venv

# VS Code
.vscode/

# Data
data/raw/
data/processed/
data/features/
data/volatility/
data/datasets/
data/regimes/

# Models
models/
checkpoints/

# Logs
logs/

# OS files
.DS_Store
Thumbs.db